// add customizations here
// see http://ruby.bvision.com/blog/please-stop-embedding-bootstrap-classes-in-your-html for best practices!

body.main {
   padding-top: 60px;
}
h1 {
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-style: italic;
}
line.river{
    stroke: red; 
    stroke-width: 5px;
}
line.sea-level{
    stroke: cyan;
    stroke-dasharray: 5,5;
    stroke-width: 5px;
}
circle{
    fill: blue;
    stroke: black;
    stroke-width: 10px;
}
.box {
    width: 100%;
    height: 100%;
}
